body{
    background-image: url(25501.jpg);
    background-repeat: none;
    background-size: cover;
}

.loader {
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid #0026ff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s ease infinite; /* Safari */
    animation: spin 2s ease infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }